#app {
    color: red;
}

.div2 {
    color: yellow;
}

#app2 > h2 {
    color: aqua;
}

.v-for-template {
    background-color: bisque;
}

.v-for-template .divider {
    color: #a5a31a;
}

.lable_xiushi {
    background-color: #f3ff94;
}

.app13 {
    width: auto;
    height: 200px;
    background-color: rgba(255, 58, 114, 0.65);
}